.row i{
    padding-left:30px ;
}
body{
    background-color:#808080;
    text-align: justify !important;
}
.container{
    margin: 0% 20%;
}
.heading{
    font-size:60px;
}
h3{
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    margin-block-start: 1.17em;
    margin-inline-end: 1.17em;
}
.row a{
    font-size:15px;
    text-decoration: none;
}
